<div class="relative flex min-h-screen bg-bg-general">
  <!-- FIXME: the border visibly shifts when changing focus of windows -->
  <!-- This div will act as the border -->
  <div
    class="absolute inset-y-0 left-1/2 w-px -translate-x-1/2 transform bg-gray-400"
  ></div>

  <!-- nativeTongue Content -->
  <div
    class="relative w-1/2"
    [class.bg-black]="!isNativeTongueFocused && isNativeTongueFocused !== null"
    [class.opacity-30]="
      !isNativeTongueFocused && isNativeTongueFocused !== null
    "
    [class.opacity-100]="
      isNativeTongueFocused || isNativeTongueFocused === null
    "
  >
    <app-typing-stats [language]="Language.NativeTongue"></app-typing-stats>
    <app-typing-area
      (focus)="setFocus(Language.NativeTongue)"
      [language]="Language.NativeTongue"
      (typingCompleted)="switchFocusToForeignTongue()"
      #nativeTongueTypingArea
    >
    </app-typing-area>
  </div>

  <!-- foreignTongue Content -->
  <div
    class="relative w-1/2"
    [class.bg-black]="isNativeTongueFocused && isNativeTongueFocused !== null"
    [class.opacity-30]="isNativeTongueFocused && isNativeTongueFocused !== null"
    [class.opacity-100]="
      !isNativeTongueFocused || isNativeTongueFocused === null
    "
  >
    <app-typing-stats [language]="Language.ForeignTongue"></app-typing-stats>
    <app-typing-area
      (focus)="setFocus(Language.ForeignTongue)"
      [language]="Language.ForeignTongue"
      [autoFocus]="false"
      #foreignTongueTypingArea
    >
    </app-typing-area>
  </div>
</div>
