<div class="min-h-screen bg-gray-900 text-white">
  <header class="bg-gray-800 p-6">
    <h1 class="text-2xl font-bold">Typing Tongues</h1>
  </header>
  <main class="flex h-full flex-col items-center justify-center py-16">
    <h2 class="mb-6 text-4xl">Yo! Welcome to Typing Tongues!</h2>
    <p class="mb-4 text-lg">
      We're here to help you and the boyz boost your typing game with fun
      practice sessions.
    </p>
    <!-- rounded should be first in this class, this comments purpose is to check if tailwind linter works -->
    <a
      href="#"
      class="rounded bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-700"
    >
      Let's Go!
    </a>
  </main>
  <footer class="bg-gray-800 p-6">
    <p class="text-sm">
      Made with ❤️ by the dawgs, for the dawgs. Enjoy Typing Tongues!
    </p>
  </footer>
</div>

<router-outlet></router-outlet>
