<header
  class="flex items-center justify-between bg-bg-component p-6 text-main-color"
>
  <div class="text-main-color">
    <a href="/" class="text-2xl font-bold hover:text-main-mute-color"
      >Typing Tongues</a
    >
  </div>
  <div>
    <a href="/" class="mx-3 text-main-color hover:text-main-mute-color">Home</a>
    <a href="/languages" class="mx-3 text-main-color hover:text-main-mute-color"
      >Languages</a
    >
    <a href="/typing" class="mx-3 text-main-color hover:text-main-mute-color"
      >Typing</a
    >
    <!-- When the selected option changes, call the switchTheme method -->
    <!-- Bind the selected value of the dropdown to the current theme -->
    <select [(ngModel)]="themeService.theme">
      <option value="dark">Dark</option>
      <option value="light">Light</option>
      <option value="rainbowTest">RainbowTest</option>
    </select>
  </div>
</header>
