<div
  class="flex min-h-screen flex-col items-center justify-center bg-bg-general px-5 py-32"
>
  <div class="rounded bg-bg-component p-8 shadow-md">
    <div class="relative flex flex-wrap font-mono text-xl">
      <ng-container
        *ngFor="
          let processedWord of getProcessedWords();
          trackBy: trackByFn;
          let wordIndex = index
        "
      >
        <span class="word" style="white-space: nowrap">
          <ng-container
            *ngFor="
              let char of processedWord.word.split('');
              let charIndex = index
            "
          >
            <div class="character-wrapper leading-none">
              <span
                *ngIf="processedWord.indexOffset + charIndex < typedText.length"
                [ngClass]="
                  mistakeText[processedWord.indexOffset + charIndex] &&
                  char !== userTyping[processedWord.indexOffset + charIndex]
                    ? 'text-text-error'
                    : 'text-text-typed'
                "
              >
                {{ char }}
              </span>
              <span
                *ngIf="
                  processedWord.indexOffset + charIndex === typedText.length &&
                  isFocused
                "
                class="absolute -mt-1 mr-3.5 inline-block h-[1.25em] w-[0.1px] animate-blink bg-text-highlight"
              ></span>
              <span
                *ngIf="
                  processedWord.indexOffset + charIndex === typedText.length
                "
                class="text-text-highlight"
              >
                {{ char === ' ' ? '_' : char }}
              </span>
              <span
                *ngIf="processedWord.indexOffset + charIndex > typedText.length"
                class="text-text-to-type"
              >
                {{ char }}
              </span>
              <div
                [innerHTML]="
                  mistakeText[processedWord.indexOffset + charIndex] || '&nbsp;'
                "
                class="tighter-leading text-base text-main-mute-color"
              ></div>
            </div>
          </ng-container>
        </span>
        <!-- Special case to handle the space character after the word -->
        <span class="character-wrapper leading-none">
          <span
            *ngIf="
              processedWord.indexOffset + processedWord.word.length <=
              typedText.length
            "
            class="text-text-typed"
          >
            &nbsp;
          </span>
          <span
            *ngIf="
              processedWord.indexOffset + processedWord.word.length ===
                typedText.length && isFocused
            "
            class="absolute -mt-1 mr-3.5 inline-block h-[1.25em] w-[0.1px] animate-blink bg-text-highlight"
          ></span>
          <span
            *ngIf="
              processedWord.indexOffset + processedWord.word.length ===
              typedText.length
            "
            class="text-text-highlight"
          >
            &nbsp;
          </span>
          <span
            *ngIf="
              processedWord.indexOffset + processedWord.word.length >
              typedText.length
            "
            class="text-text-to-type"
          >
            &nbsp;
          </span>
        </span>
      </ng-container>
    </div>
    <textarea
      #hiddenInput
      class="hidden-input"
      [(ngModel)]="userTyping"
      (input)="onUserType()"
      (focus)="onFocus()"
      (blur)="onBlur()"
    ></textarea>
  </div>
</div>
