<div
  class="flex min-h-screen flex-col items-center justify-center bg-bg-general px-5 py-32"
>
  <div class="rounded bg-bg-component p-8 shadow-md">
    <div class="flex flex-wrap font-mono text-xl">
      <ng-container *ngFor="let char of textToType.split(''); let i = index">
        <div class="character-wrapper leading-none">
          <!-- Display correctly typed characters or show expected character in error color if a typo is made -->
          <span
            *ngIf="i < typedText.length"
            [ngClass]="
              mistakeText[i] && char !== userTyping[i]
                ? 'text-text-error'
                : 'text-text-typed'
            "
            >{{ char }}</span
          >

          <!-- Display the next expected character -->
          <span *ngIf="i === typedText.length" class="text-text-highlight">{{
            char === ' ' ? '_' : char
          }}</span>

          <!-- Display the remaining characters to be typed -->
          <span *ngIf="i > typedText.length" class="text-text-to-type">{{
            char
          }}</span>

          <!-- Display the mistyped character below the expected character -->
          <div
            [innerHTML]="mistakeText[i] || '&nbsp;'"
            class="tighter-leading text-base text-main-mute-color"
          ></div>
        </div>
      </ng-container>
    </div>
    <textarea
      #hiddenInput
      class="absolute opacity-0"
      [(ngModel)]="userTyping"
      (input)="onUserType()"
      (focus)="onFocus()"
      (blur)="onBlur()"
    ></textarea>
  </div>
</div>
