<div
  class="flex min-h-screen flex-col items-center justify-center bg-bg-general py-6"
>
  <div class="rounded bg-bg-component p-8 shadow-md">
    <p class="relative font-mono text-xl">
      <span class="text-text-typed">{{ typedText }}</span>
      <span class="text-text-highlight">{{
        currentChar === ' ' ? '_' : currentChar
      }}</span>
      <span class="text-text-to-type">{{ remainingText }}</span>
    </p>
    <p
      class="h-[1.5em] whitespace-pre-wrap font-mono text-xl text-main-mute-color"
      [innerHTML]="mistakeText"
    ></p>
    <textarea
      #hiddenInput
      class="absolute opacity-0"
      [(ngModel)]="userTyping"
      (input)="onUserType()"
      (focus)="onFocus()"
      (blur)="onBlur()"
    ></textarea>
  </div>
</div>
